<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function(){
            perform_query();
        });

        function perform_query(){
            let word = 'apple';
            let api_key = 'a1d47dc5-b41c-4399-882f-cc89ad379314';
            let url = `https://www.dictionaryapi.com/api/v3/references/collegiate/json/${word}?key=${api_key}`
            $.ajax({
                type: 'GET',
                url: url,
                data:{},
                success: function(response) {
                    console.log(response);
                }
            });
        }
    </script>
</head>
<body>
    
</body>
</html>